<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <div id="app" v-cloak>
        <main>
            <h1>New Person</h1>
        <div>
            <ul>
                <!-- lista persona -->
                <li v-for="(dati, index) in data">
                  <div class="d-flex">
                    <div @click="showButton(index)">
                        <p>{{dati.name}},</p>
                        <p>{{dati.nName}}</p>
                    </div>
                    <div v-show="dati.show">
                        <button type="button" @click="getAllData(index)">show <span>{{dati.name}}</span></button>
                      </div>
                  </div>
                </li>
                <!-- /lista persona -->
            </ul>
            <!-- dati completi da mostrare al click -->
            <div v-if="allData">
                <p>{{allData.surname}}, {{allData.age}}, {{allData.gender}}</p>
            </div>
        </div>
        <!-- form per prendere dati persona -->
        <form  @submit.prevent="postAllData" methods="POST" name="create">
            <div>
                <label for="name">name</label>
                <input type="text" name="nName" id="name" v-model="nName">
            </div>
            <div>
                <label for="surname">surname</label>
                <input type="text" name="nSurname" id="surname" v-model="nSurname">
            </div>
            <div>
                <label for="age">age</label>
                <input type="number" name="nAge" id="age" v-model="nAge">
            </div>
            <div>
                <label for="gender">gender</label>
                <input type="text" name="nGender" id="gender" v-model="nGender">
            </div>
            <button type="submit">send</button>
        </form>
        </main>
    </div>
 
    <!-- vue js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- /vue js -->
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- /axios -->
    <!-- my js -->
    <script src="main.js"></script>
    <!-- /my js -->
</body>
</html>